amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
click==6.6
Flask==0.11
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
MarkupSafe==0.23
pytz==2016.4
redis==2.10.5
requests==2.10.0
-e git+https://github.com/senko/python-video-converter@0cad6b0ec16e345da56f36f06b7a19bc5278d117#egg=VideoConverter
Werkzeug==0.11.10
